# Credenciais do Portal Tokio Marine
USERNAME=seu_usuario
PASSWORD=sua_senha

# URLs
LOGIN_URL=https://ssoportais3.tokiomarine.com.br/openam/XUI/?realm=TOKIOLFR
PORTAL_URL=http://portalparceiros.tokiomarine.com.br/

# Configurações
TIMEOUT=30
RETRY_ATTEMPTS=3
DELAY_BETWEEN_REQUESTS=2
HEADLESS=true
